@import '../variables';

.name {
  font-size: 56px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 32px;

  @media(min-width: $breakpoint) {
    font-size: 72px;
  }
}

.host {
  font-size: 32px;
  line-height: 1;
  margin: 0 0 32px;
}

.date-time {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  margin: 8px 0;
}

.place {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  margin: 8px 0;
}

.details {
  font-size: 18px;
  line-height: 1;
  margin: 32px 0 8px;
}

