.name {
  font-size: 56;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 32px;
}

.host {
  font-size: 32;
  line-height: 1;
  margin: 0 0 32px;
}

.date-time {
  font-size: 18;
  font-weight: bold;
  line-height: 1;
  margin: 8px 0;
}

.place {
  font-size: 18;
  font-weight: bold;
  line-height: 1;
  margin: 8px 0;
}

.proceeding {
  font-size: 18;
  font-weight: bold;
  line-height: 1;
  margin: 8px 0;
}
