.brand {
  color: inherit;
  display: flex;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
}

.brand-icon {
  display: block;
  font-size: 24px;
  padding: 6px 4px 6px 0;

  > svg {
    display: block;
  }
}

.brand-text {}