@import '../variables.scss';

%button {
  appearance: none;
  background: $action-background;
  border: $border-width solid $action-border-color;
  box-shadow: $action-box-shadow;
  box-sizing: border-box;
  color: $action-color;
  display: block;
  font-size: inherit;
  font-weight: $action-font-weight;
  line-height: 20px;
  margin: 0;
  padding: 6px 10px;
  text-decoration: none;
  text-transform: $action-text-transform;
}

.container {
  display: flex;
  position: relative;
}

.button {
  @extend %button;
  flex: 1;
  min-width: 72px;
}

.confirmation {
  display: flex;
  left: 0;
  position: absolute; 
  right: 0;
  top: 0;
}

.confirmation-false {
  display: none;
}


.confirm {
  @extend %button;
  background: lightseagreen;
  flex: 1;
  padding: 6px;

  > svg {
    display: block;
    font-size: 20px;
  }
}

.cancel {
  @extend %button;
  background: crimson;
  flex: 1;
  padding: 6px;

  > svg {
    display: block;
    font-size: 20px;
  }
}
