@import '../variables.scss';

.button {
  appearance: none;
  background: $action-background;
  border: $border-width solid $action-border-color;
  box-shadow: $action-box-shadow;
  box-sizing: border-box;
  color: $action-color;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: $action-font-weight;
  line-height: inherit;
  margin: 0;
  padding: $padding - 2;
  text-align: center;
  text-decoration: none;
  text-transform: $action-text-transform;
  transition: border 0.25s ease-in-out, color 0.25s ease-in-out;

  &:disabled {
    color: $disabled-color;
    border-color: $disabled-border-color;
  }
}

.buttons {
  display: flex;
  margin: 0 -4px;

  > .button {
    flex: 0 1 auto;
    margin: 0 4px;
  }
}
