@import '../variables.scss';

%button {
  appearance: none;
  background: $action-background;
  border: $border-width solid $action-border-color;
  box-shadow: $action-box-shadow;
  box-sizing: border-box;
  color: $action-color;
  display: block;
  font-size: inherit;
  font-weight: $action-font-weight;
  line-height: inherit;
  margin: 0;
  padding: $padding - 2;
  text-align: center;
  text-decoration: none;
  text-transform: $action-text-transform;
}

.container {
  display: flex;
  position: relative;
}

.button {
  @extend %button;
  flex: 1;
  min-width: 86px;
}

.confirmation {
  display: flex;
  left: 0;
  position: absolute; 
  right: 0;
  top: 0;
}

.confirmation-false {
  display: none;
}


.confirm {
  @extend %button;
  background: $blue;
  border: $border-width solid $active-color;
  border-right: $border-width / 2 solid $active-color;
  flex: 1;
  padding: ($padding / 2) - 2 0;
  width: 43px;


  > svg {
    display: block;
    font-size: 36px;
    margin: 0 auto;
  }
}

.cancel {
  @extend %button;
  background: $orange;
  border: $border-width solid $active-color;
  border-left: $border-width / 2 solid $active-color;
  flex: 1;
  padding: ($padding / 2) - 2 0;
  width: 43px;

  > svg {
    display: block;
    font-size: 36px;
    margin: 0 auto;
  }
}
