@import '../variables.scss';

%button {
  appearance: none;
  background: $action-background;
  border: $border-width solid $action-border-color;
  box-shadow: $action-box-shadow;
  box-sizing: border-box;
  color: $action-color;
  display: block;
  font-size: inherit;
  font-weight: $action-font-weight;
  line-height: 20px;
  margin: 0;
  padding: 6px 10px;
  text-decoration: none;
  text-transform: $action-text-transform;
}

.container {
  display: flex;
}

.button {
  @extend %button;
  flex: 1;
}

.confirm {
  @extend %button;
  background: lime;
  flex: 1;
  margin: 0 8px 0 0;
}

.cancel {
  @extend %button;
  background: tomato;
  flex: 1;
}
