@import '../variables.scss';

.error {
  background: transparent;
  padding: 8px;
  margin: 8px 0px;
  flex: 1;
  border: 2px solid $error-color;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.error-icon {
  background: $error-color;
  border-radius: 10px;
  color: $black;
  font-size: inherit;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 8px;
  text-align: center;
  width: 20px;
}
