@import '../variables.scss';

.error {
  background: transparent;
  padding: $padding;
  margin: $padding 0px;
  flex: 1;
  border: $border-width solid $error-color;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.error-icon {
  background: $error-color;
  border-radius: 10px;
  color: $black;
  flex: 0 0 20px;
  font-size: inherit;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: $padding;
  text-align: center;
  width: 20px;
}
