.hidden {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.visible {
  opacity: 1;
}

.placeholder {
  background: black;
  height: 100%;
  width: 100%;
  transition: all 1.5s ease-in-out;
}

.outer-div {
  position: relative;
  height: 300px;
  max-width: 200px;
  overflow: hidden;
  margin: 16px;
  cursor: pointer;

  &:hover {
    .inner-div {
      transform: scale(1.15) rotate(2deg) translateZ(0); // translate for 3d acceleration
    }

    .title {
      color: coral;
    }
  }
}

.inner-div {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.7s ease;
}

.title {
  transition: all 0.7s ease;
  z-index: 100;
  position: absolute;
  max-width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 0 10px;
}

.delete-button {
  transition: all 0.7s ease;
  top: 0;
  right: 0;
  z-index: 110;
  position: absolute;
  max-width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding: 0 10px;

  &:hover {
    color: red;
  }
}
