@import '../variables.scss';

.event {
  box-shadow: $box-shadow;
  margin: 0 0 16px;
  padding: 14px;
}

.event-content {
  min-height: 148px;
}

.event-heading {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 8px;
}

.event-detail {
  font-weight: bold;
  margin: 0 0 16px;
}
