@import '../variables.scss';

.grid-item {
  box-sizing: border-box;
  flex: 0 0 100%;
  padding: 8px;

  @media (min-width: 768px) {
    flex: 0 0 50%;
  }

  @media (min-width: 1536px) {
    flex: 0 0 percentage(1/3);
  }
}
