@import '../variables.scss';

.container {
  background: #30555521;
  border: $border-width solid $border-color;
  box-shadow: $box-shadow;
  margin: 0 0 16px;
  padding: 14px;
  position: relative;
}

.accepted {
  background: $green;
}

.refused {
  background: $orange;
}

.name {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
}

.email {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  margin: 8px 0;
}

.participants {
  display: block;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  position: absolute;
  right: 14px;
  top: 14px;
}

.notes {
  font-size: 12px;
  font-style: italic;
  margin: 8px 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 134px;
}
