@import '../variables.scss';

.container {
  border: $border-width solid $border-color;
  box-shadow: $box-shadow;
  margin: 0 0 16px;
  padding: 14px;
  position: relative;

  > h3 {
    font-weight: 500;
    margin: 0;
  }
}

.delete-button {
  position: absolute;
  top: 8px;
  right: 8px;
}
