@import '../variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  max-width: $max-width;
  margin: 0 auto;
  padding: 16px;
}

.header-children {
  @media (min-width: $breakpoint) {
    flex: 1 1 auto;
    padding: 0 0 0 56px;
  }
}
