@import '../variables.scss';

.input {
  display: flex;
  margin: 0 0 16px;
}

.input-label {
  flex: 0 0 25%;
  padding: 8px 0;
  width: 100px;
}
    
.input-input {
  appearance: none;
  background: transparent;
  border: none;
  border-bottom: $border-width solid $action-border-color;
  border-radius: 0;
  box-shadow: none;
  flex: 1 1 auto;
}