@import '../variables.scss';

.input {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 16px;
  position: relative;
}

.input-label {
  appearance: none;
  background: transparent;
  border: $border-width solid $border-color;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  font-size: inherit;
  font-weight: bold;
  line-height: 20px;
  padding: $padding - $border-width;
  position: relative;
  width: 100%;
  transition: border .3s ease-in-out;
  user-select: none;
}

.input-checked {
  color: $active-color;
  display: block;
  font-size: 20px;
  opacity: 0;
  position: absolute;
  right: $padding - $border-width;
  top: $padding - $border-width;
  transition: opacity .2s ease-in-out;
  z-index: 2;
  height: 20px;
  width: 20px;
}

.input-unchecked {
  color: $action-border-color;
  display: block;
  font-size: 20px;
  position: absolute;
  right: $padding - $border-width;
  top: $padding - $border-width;
  z-index: 1;

  height: 20px;
  width: 20px;
}

.input-input {
  appearance: none;
  position: absolute;
  opacity: 0;

  &:focus + .input-label {
    border: $border-width solid $action-border-color;
  }

  &:checked + .input-label {}

  &:checked + .input-label > .input-checked {
    opacity: 1;
  }
}
