@import '../variables.scss';

.invitation {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  min-height: 100vh;
  padding: 40px;
}

.invitation h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
}