@import '../variables.scss';

.invitation {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0 auto;
  min-height: 75vh;
  padding: $padding;
}

.invitation h1 {
  font-size: 40px;
  line-height: 1;
}
