@import '../variables.scss';

.invitation {
  margin: 0 auto;
  max-width: $max-width;
  padding: $padding;
}

.invitation {
  h1 {
    font-size: 40px;
    line-height: 56px;
    margin: 0;
  }

  p {
    font-size: 18px;
    line-height: 32px;
    margin: 0;
  }
}
