@import '../variables.scss';

.item {
  box-shadow: $box-shadow;
  margin: 0 0 16px;
  padding: 14px;
}

.item-content {
  min-height: 148px;
}

.item-heading {
  font-size: 40px;
  line-height: 1;
  margin: 0 0 8px;
}

.item-detail {
  margin: 0 0 16px;
}
