@import '../variables.scss';

.navigation {
  padding: $padding;

  @media (min-width: $breakpoint) {
    padding: 0;
  }
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $breakpoint) {
    display: flex;
  }

  > li {
    margin: 0 0 4px;
    padding: 0;

    @media (min-width: $breakpoint) {
      margin: 0 0 0 8px;
    }
  }

  > li.navigation-signout {
    @media (min-width: $breakpoint) {
      margin: 0 0 0 auto;
    }
  }

  > li > a {
    appearance: none;
    background: $action-background;
    border: $border-width solid transparent;
    box-shadow: $action-box-shadow;
    box-sizing: border-box;
    color: $action-color;
    display: block;
    font-size: inherit;
    font-weight: $action-font-weight;
    line-height: inherit;
    margin: 0;
    padding: $padding - 2;
    text-align: left;
    text-decoration: none;
    text-transform: $action-text-transform;
    transition: border .1s ease-in-out;
    width: 100%;
  }

  > li > button {
    background: $yellow;
    text-align: left;
    width: 100%;

    @media (min-width: $breakpoint) {
      background: $orange;
    }
  }
}
