@import '../variables.scss';

.navigation {
  padding: $padding $padding $padding $padding;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
  }

  > li {
    margin: 4px 0;
    padding: 0;

    @media (min-width: 768px) {
      margin: 0 0 0 8px;
    }
  }

  > li > a {
    appearance: none;
    background: $action-background;
    border: $border-width solid transparent;
    box-shadow: $action-box-shadow;
    box-sizing: border-box;
    color: $action-color;
    display: block;
    font-size: inherit;
    font-weight: $action-font-weight;
    line-height: inherit;
    margin: 0;
    padding: $padding - 2;
    text-align: left;
    text-decoration: none;
    text-transform: $action-text-transform;
    width: 100%;
  }

  > li > button {
    color: $blue;
    text-align: left;
    width: 100%;
  }
}
