@import '../variables.scss';

.navigation {
  padding: 8px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
  }

  > li {
    margin: 4px 0;
    padding: 0;

    @media (min-width: 768px) {
      margin: 0 0 0 8px;
    }
  }

  > li > a,
  > li > button {
    appearance: none;
    background: transparent;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: $interactive-color;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 24px;
    margin: 0;
    padding: 4px 8px;
    text-align: left;
    text-decoration: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    width: 100%;

    @media (min-width: 768px) {
      color: $link-color;
      transition: color 0.25s ease-in-out;
    }
  }
}
