@import '../variables.scss';

.search {
  display: block;
}
  
.search-label {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  line-height: 1;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
    
.search-input {
  appearance: none;
  background: transparent;
  border: none;
  border-bottom: $border-width solid $action-border-color;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  flex: 1 1 auto;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 8px 8px 6px;
  width: 100%;
}