@import '../variables';

.select {
  align-items: center;
  margin: $padding 0;
}

.select-label {
  display: block;
  padding: $padding / 2 0;
}

.select-control {}

.select-select {
  appearance: none;
  background: $action-background;
  border: none;
  border-bottom: $border-width solid $action-border-color;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: $padding $padding $padding - 2;
  transition: color .15s ease-in-out;
  width: 100%;
}
