@import '../variables';

.select {
  align-items: center;
  margin: $padding 0;
}

.select-icon {
  height: 20px;
  position: absolute;
  right: $padding;
  top: $padding;
  width: 20px;
}

.select-label {
  display: block;
  padding: $padding / 2 0;
}

.select-control {
  position: relative;
}

.select-select {
  appearance: none;
  background: $action-background;
  border: none;
  border-bottom: $border-width solid $action-border-color;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  font-size: inherit;
  line-height: inherit;
  color: $action-color;
  margin: 0;
  padding: $padding $padding $padding - 2;
  transition: color 0.15s ease-in-out;
  width: 100%;

  > option {
    color: $black;
  }
}
