@import '../variables.scss';

.container {
  @media (min-width: 768px) {
    display: none;
  }
}

.burger {
  border-bottom: solid 3px $action-color;
  border-top: solid 3px $action-color;
  box-sizing: border-box;
  color: inherit;
  display: block;
  height: 20px;
  width: 20px;
}

.button {
  appearance: none;
  background: $action-background;
  border: none;
  border-radius: 0;
  display: block;
  padding: $padding;

  font-size: inherit;
  font-weight: $action-font-weight;
  line-height: inherit;
}

.collapse {
  background: $orange;
  border-left: 2px solid currentColor;
  box-sizing: border-box;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: right 0.2s ease-in-out;
  width: 240px;
  z-index: 2;

  &.is-in {}
}
