@import '../variables.scss';

.container {
  @media (min-width: 768px) {
    display: none;
  }
}

.burger {
  border-bottom: solid 3px $action-color;
  border-top: solid 3px $action-color;
  box-sizing: border-box;
  color: inherit;
  display: block;
  height: 12px;
  width: 12px;
}

.button {
  appearance: none;
  background: $action-background;
  border: none;
  border-radius: 0;
  display: block;
  padding: 12px;
}

.collapse {
  background: $background;
  box-shadow: 0 0 320px 0 rgba(black, 0);
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: box-shadow .6s ease-in-out, right 0.2s ease-in-out;
  width: 240px;
  z-index: 2;

  &.is-in {
    box-shadow: 0 0 320px 0 rgba(black, 1);
  }
}
