body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  font-size: 32px;
  font-weight: normal;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

p,
ul {
  margin: 8px 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: coral;
}

button {
  background: none;
  border: none;
  color: coral;
  cursor: pointer;
  font: inherit;
  padding: 0;
  text-decoration: underline;
}

li {
  padding: 0 10px;
}

label {
  display: block;
}

input {
  border: 2px solid silver;
  box-sizing: border-box;
  display: block;
  font-size: inherit;
  line-height: 1;
  padding: 4px;
  width: 100%;
}

.button {
  appearance: none;
  background: coral;
  border: 0;
  border-radius: 0;
  color: white;
  padding: 8px 4px;
  text-align: center;
  text-decoration: none;
}
