body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 16px 32px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  font-size: 32px;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 64px;
  font-weight: bold;
  margin: 8px 0;
}

p,
ul {
  margin: 8px 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: coral;
}

button {
  background: none;
  border: none;
  color: coral;
  cursor: pointer;
  font: inherit;
  padding: 0;
  text-decoration: underline;
}
