$interactive-color: tomato;

$action-background: $interactive-color;
$action-border-color: $interactive-color;
$action-box-shadow: none;
$action-color: white;
$action-font-weight: normal;
$action-text-transform: initial;

$link-color: $interactive-color;

$border-color: lightgrey;
$border-width: 2px;
$box-shadow: none;
$color: black;

$grid-gutter: 8px;
$max-width: 1440px;