$primary-color: coral;

$action-background: $primary-color;
$action-border-color: $primary-color;
$action-box-shadow: none;
$action-color: white;
$action-font-weight: normal;
$action-text-transform: initial;

$border-color: lightgrey;
$border-width: 2px;
$box-shadow: none;
$color: black;

$grid-gutter: 8px;
