$black: #242430;
$blue: #4e6280;
$orange: #ff7a64;
$pink: #ff8bb5;
$teal: #305555;
$white: #fbfbfa;
$white: #fbfbfa;
$yellow: #ffef6b;
$green: palegreen;
$red: #f00;

$active-color: currentColor;
$background: #fff;

$action-background: none;
$action-border-color: $active-color;
$action-box-shadow: none;
$action-color: $active-color;
$action-font-weight: bold;
$action-text-transform: initial;

$disabled-background: #ebebea;
$disabled-border-color: #8b8b8a;
$disabled-color: #8b8b8a;

$error-color: $orange;

$link-color: $active-color;

$border-color: $active-color;
$border-width: 2px;
$box-shadow: none;
$color: $black;
$padding: 16px;
$text-shadow: none;

$breakpoint: 768px;
$grid-gutter: $padding;
$max-width: 1024px;

