{
    "version" : "2017-02-28",
    "operation" : "Query",
    "index": "eventId-index",
    "query" : {
        ## Provide a query expression. **
        "expression": "eventId = :eventId",
        "expressionValues" : {
            ":eventId" : $util.dynamodb.toDynamoDBJson($ctx.args.eventId)
        }
    }
}